.box{
    display:inline;
    max-width: 600px;
    align-content: center;
    justify-content: center;
    height: 100vh;
}



.container{
  margin-left: 16%;
    margin-top: 40px;
    display: block;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 0;
    width: 70%;
    padding-left: 60px;
    height: 370px;
    
}

.container2{
    margin-left: 16%;
    display: block;
    width: 70%;
    padding-left: 60px;
    height: 370px;
    
}

.container3{
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 9px;
    margin-left: 16%;
    display: block;
    width: 70%;
    padding-left: 60px;
    height: 370px;
}

.pee{
    padding-bottom: 30px;
}

.btn, .btn2, .btn3{
   margin-top: -5%;
   width: 65%;
   height: 36px;
}
